.body {
  width: 80%;
  margin: auto;
  display: block;
  text-align: center;
}

.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

img {
  height: 150px;
  width: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: #F2F2F2;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 15px;

}

img:active {
  border-color: #B5B5B5;
}

@media only screen and (max-width: 800px) {
    img {
      height: 100px;
      width: 100px;
    }
}
